.countdown-container{
    display: flex;
    position: relative;
    visibility: hidden; 
    height:500px;
    aspect-ratio: 1 / 1;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
}
svg{
    display:flex;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg); 
    width: 100%;
    height: 100%;
}


#number{
    font-weight: 600;
    color:white;
    font-size: 5em;
}

#myCircle2{ /* background to timer*/
    fill:none;
    stroke: rgb(65, 64, 64);
    stroke-width: 40px;
    stroke-dasharray: 1130;
    stroke-dashoffset: 0;
    r:180; 
    cx:50%;
    cy:50%;
    /* animation: anim 1s linear forwards; */
}

#myCircle{ /* background to timer*/
    fill:none;
    stroke: blue;
    stroke-width: 40px;
    stroke-dasharray: 1130;
    stroke-dashoffset: 675;
    r:180; 
    cx:50%;
    cy:50%;
    /* animation: anim 1s linear forwards; */
}
#timer{
    justify-content: center;
    align-items: center;
}

/* @keyframes anim {
    100%{
        stroke-dashoffset: 200;
    }
} */

