*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: red;

}
.main-content{
    display: flex;
    flex-direction: column;
    flex: 3;
    background-color: #252424;
    padding: 50px;
    gap: 30px;
}

.sec-content{
    flex: 1;
    background-color: bisque;

}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.login-avatar{
    width: 10%;
    height: 24px;
    background-color: aliceblue;
}




h1, h2, h3{
    color: white;
}
h1{
    font-size: 4em;
}
h2{
    font-size: 3em;
}
button{
    padding: 5px 10px;
    font-size: 2em;
}