*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: red;

}
.main-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 3;
    background-color: #252424;
    padding: 50px;
    gap: 30px;

}

.time-content{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.countdown-container{
    width:50%;
    height: 100%;
    background-color: blue;
}


.sec-content{
    flex: 1;
    background-color: bisque;

}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.login-avatar{
    width: 10%;
    height: 24px;
    background-color: aliceblue;
}

#no-events{
    justify-content: center;
    align-items: center;
    font-size: 4em;
    text-align: center;
    color:white;
}

#connect-GA{
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;

}



h1, h2, h3{
    color: white;
}
h1{
    font-size: 4em;
}
h2{
    font-size: 3em;
}
button{
    padding: 5px 10px;
    font-size: 2em;
}